<h1>Salut !</h1>

<p>
    Merci de confirmer votre courriel en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confimer mon courriel</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonnes sorties !
</p>
