{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    {{ form_start(form) }}

    {{ form_end(form) }}

    {% for sortie in sorties %}
            {% include('sortie/sortieItem.html.twig') %}
    {% else %}
        Aucune sortie ne correspond à la recherche
    {% endfor %}

    <script>
        for (let btn of document.querySelectorAll('.action_sortie_sinscrire')) {
            btn.addEventListener('click', (event) => {
                let headers = new Headers();
                headers.append('Content-Type', 'application/json');
                headers.append('X-Requested-With', 'XMLHttpRequest');
                let options = { method: 'POST',
                                headers: headers};

                let sortie_id = event.target.attributes['data-sortie-id'].value;

                fetch('https://localhost:8000/espace_membre/sortie/' + sortie_id + '/sinscrire', options)
                    .then((r)=>{
                        return r.json();
                    })
                    .then((r)=>{
                        console.log(r.added);
                        if (r.added) {
                            let spanInscrit = document.querySelector('.action_sortie_nb_inscrit[data-sortie-id="' + sortie_id + '"]');
                            spanInscrit.innerText = r.nbInscrit;
                            let spanParticipation = document.querySelector('.action_sortie_participation[data-sortie-id="' + sortie_id + '"]');
                            spanParticipation.innerText = 'Je participe';
                            spanParticipation.style.color = 'green';

                        }
                    });
            })
        }
    </script>
{% endblock %}
